{
    "env": {
        "browser": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "comma-dangle": 0,
        "arrow-body-style": 0,
        "no-shadow": 0,
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "func-names": "off",
        "no-underscore-dangle": "off",
        "max-len": "off",
        "no-bitwise": "off",
        "no-param-reassign": ["warn", { "props": false }],
        "padded-blocks": "off",
        "no-use-before-define": "warn",
        "no-plusplus": "off",
        "prefer-template": "off",
        "consistent-return": "off",
        "no-console": "off",
        "no-restricted-syntax": ["error", "DebuggerStatement", "ForInStatement", "LabeledStatement", "WithStatement"],
        "dot-notation": "off",
        "semi": "error",
        "no-debugger": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-empty": "error",
        "no-unreachable": "error"
    }
}
