{
    "extends": "airbnb",
    "rules": {
        "comma-dangle": 0,
        "arrow-body-style": 0,
        "no-shadow": 0,
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "global-require": 0,
        "func-names": "off",
        "no-underscore-dangle": "off",
        "max-len": "off",
        "no-bitwise": "off",
        "no-param-reassign": ["warn", { "props": false }],
        "padded-blocks": "off",
        "no-use-before-define": "warn",
        "no-unused-vars": "warn",
        "react/require-extension": "off",
        "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.spec.js", "webpack.config.js"]}],
        "no-plusplus": "off",
        "prefer-template": "off",
        "consistent-return": "off",
        "no-console": "off",
        "no-restricted-syntax": ["error", "DebuggerStatement", "ForInStatement", "LabeledStatement", "WithStatement"],
        "dot-notation": "off",
        "quote-props": "off"
    }
}
