@import '~common/styles/code-colors.styl'

.code-box
    padding 5px
    background theme-background
    border-radius 3px
    /* code-box block is codeEditor but with hidden cursor and readonly */
    .CodeMirror-cursors
        display none !important  // @stylint ignore

//TODO: styles for scrollbar?
