@import 'code-colors.styl'

.cm-s-monokai
    &.CodeMirror
        background none
        color line-number
    div
        &.CodeMirror-selected
            background selection
    .CodeMirror-gutters
        background theme-background
        border-radius 3px
        border-right 0
    .CodeMirror-guttermarker
        color guttermarker-color
    .CodeMirror-guttermarker-subtle
        color line-number
    .CodeMirror-linenumber
        color line-number
    .CodeMirror-cursor
        border-left 1px solid cursor-color
    span
        &.cm-comment
            color comment-color
        &.cm-atom
            color atom
        &.cm-number
            color atom
        &.cm-keyword
            color keyword
        &.cm-builtin
            color builtin
        &.cm-string
            color string
        &.cm-variable
            color dirty-white
        &.cm-variable-2
            color variable
        &.cm-variable-3
            color builtin
        &.cm-def
            color variable
        &.cm-bracket
            color dirty-white
        &.cm-tag
            color keyword
        &.cm-header
            color atom
        &.cm-link
            color atom
        &.cm-error
            background keyword
            color cursor-color
    .CodeMirror-activeline-background
        background alternative-background
    .CodeMirror-matchingbracket
        text-decoration underline
        color white !important // @stylint ignore

.cm-s-monokai .CodeMirror-line::selection, .cm-s-monokai .CodeMirror-line > span::selection, .cm-s-monokai .CodeMirror-line > span > span::selection
    background line

.cm-s-monokai .CodeMirror-line::-moz-selection, .cm-s-monokai .CodeMirror-line > span::-moz-selection, .cm-s-monokai .CodeMirror-line > span > span::-moz-selection
    background line

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute
    color property
