theme-background = #283646
alternative-background = #373831
selection = #114b52
line-number = #ddd
guttermarker = white
cursor = white
comment = #b9b9b9
def = #86b9f5
atom = #c094dd
keyword = #fee937
builtin = #66d9ef
string = #62d543
number = #fee937
property = #86b9f5
line = #283646
variable = #ddd
readonly = #363b42
