theme-background = rgba(39, 40, 34, .8)
alternative-background = #373831
selection = #49483E
line-number = #f0f0f0
guttermarker-color = white
cursor-color = white
comment-color = #75715e
atom = #ae81ff
keyword = #f92672
builtin = #66d9ef
string = #e6db74
property = #a6e22e
line = rgba(73, 72, 62, .99)
variable = #9effff
