theme-background = #283646
alternative-background = #373831
selection = #114b52
line-number = #ddd
guttermarker-color = white
cursor-color = white
comment-color = #b9b9b9
def = #86b9f5
atom = #ddd
keyword = #fee937
builtin = #66d9ef
string = #62d543
number = #fee937
property = #86b9f5
line = rgba(73, 72, 62, .99)
variable = #ddd
