holy-white = #fff

lodash-blue = #3492ff
super-light-blue = #5bb1f5

background-blue-0 = #1c4c84
background-blue-1 = #356aa9
background-blue-2 = #2464ad
background-blue-3 = lodash-blue

secondary-action-color = #a2dcf9
secondary-action-border-color = #4fbff7
secondary-action-background-color = rgba(110, 207, 255, .26)

main-text = #f8d940
