holy-white = #fff
evil-black = #000

lodash-blue = #f5de1a
super-light-blue = #fbec6c

background-blue-0 = #988b18
background-blue-1 = #afa01b
background-blue-2 = #cab821
background-blue-3 = lodash-blue

secondary-action-color = #7b7116
secondary-action-border-color = #b3a319
secondary-action-background-color = rgba(110, 207, 255, .26)

main-text = #666

overlay-background = linear-gradient(to top, background-blue-0 0, background-blue-1 35%, background-blue-2 70%, background-blue-3 100%)
sublime-yellow = #ddd873

winning-green = #527518
partial-cheater = #b7550a;
scroll-color = rgba(39, 40, 34, .6)
