@import '~common/styles/code-colors.styl'

number-of-lines = 20
font-size = 14px
code-mirror-height = number-of-lines * font-size

.code-box
    flex-basis auto
    flex-grow 1
    padding 5px
    background dark-background
    border-radius 10px
    /* code block is editor but with hidden cursor and readonly */
    .CodeMirror-cursors
        display none !important  // @stylint ignore
    .CodeMirror
        height code-mirror-height
