@import '~common/styles/code-colors.styl'

//TODO: move lines calculations to shared place
number-of-lines = 20
font-size = 14px
code-mirror-height = number-of-lines * font-size

.code
    flex-grow 1
    padding 5px
    background theme-background
    border-radius 10px
    /* code block is code-input but with hidden cursor and readonly */
    .CodeMirror-cursors
        display none !important  // @stylint ignore
    .CodeMirror
        height code-mirror-height

//TODO: styles for scrollbar?
