@import '~common/styles/code-colors.styl'

.code-editor
    padding 5px
    background theme-background
    border-radius 3px

.code-editor.readonly
    background readonly

    .CodeMirror-gutter
        background readonly
    .CodeMirror-gutters
        background readonly
    .CodeMirror-cursors
        display none !important  // @stylint ignore


//TODO: styles for scrollbar?
