@import '~common/styles/code-colors.styl'

.code-editor
    padding 5px
    background theme-background
    border-radius 3px
    //.CodeMirror
    //    height code-mirror-height

//TODO: styles for scrollbar?
