@import '~common/styles/code-colors.styl'

.code-editor
    display flex
    flex-flow column nowrap
    background theme-background
    border-radius 3px
    overflow hidden

    .CodeMirror
        padding 0 5px

    .hint
        color atom
        padding 4px 5px
        background selection
        &.start, &.end
            align-self flex-start

.code-editor.readonly
    background readonly

    .CodeMirror-gutter
        background readonly
    .CodeMirror-gutters
        background readonly
    .CodeMirror-cursors
        display none !important  // @stylint ignore
