@import '~common/fonts/families.styl'
@import '~common/styles/color-palette.styl'

.login-button
    text-decoration none
    font-family AwesomeIcon
    color holy-white
    border-radius 50%
    transition color 300ms

    &:hover
        color lodash-blue
