@import '~common/styles/color-palette.styl'

html
    min-height 100%
    font-size 14px
    background linear-gradient(to top, background-blue-0 0, background-blue-1 35%, background-blue-2 70%, background-blue-3 100%)

.game-view
    font-family Helvetica, 'Helvetica Neue', Arial

    .user-panel
        width 100%
        height 5vh

    .game-progress
        .progress-bar
            background main-text

        .round-mark-container
            .-past
                color main-text
                border .15em solid alpha(background-blue-0, .5)
            .-current
                color main-text
            .-future
                color secondary-action-color

    .timer
        .time-text
            color main-text

        .circle-container
            .circle-elapsed
                stroke alpha(background-blue-0, .5)

            .circle-remaining
                stroke main-text

    .code-box, .code-editor
        margin 5px

    .puzzle, .editor
        display flex
        justify-content center

        & div:nth-child(1)
            width 60%

            .CodeMirror
                width 100%

        & div:nth-child(2)
            width 30%

            .CodeMirror
                width 100%
