@import '~common/styles/color-palette.styl'
@import '~common/styles/code-colors.styl'

scroll-width = 5px

html
    min-height 100%
    font-size 14px
    background linear-gradient(to top, background-blue-0 0, background-blue-1 35%, background-blue-2 70%, background-blue-3 100%)
    overflow hidden

.game-master-view
    font-family Helvetica, 'Helvetica Neue', Arial
    height 100vh

    .view-content
        padding 0 2vw
        height 94vh
        display flex
        flex-direction column
        justify-content center
        position relative

        .score-view-switcher
            width 1.8vw
            height 5vh

    .user-panel
        width 100%
        height 5vh

    .game-progress
        margin-top -.25vh

        .progress-bar
            background main-text

        .round-mark-container
            .-past
                color main-text
                border .15em solid alpha(background-blue-0, .5)
            .-current
                color main-text
            .-future
                color secondary-action-color

                &:before
                    color main-text

    .main-content
        display flex
        height 100%
        padding-top .7em

        .task-column
            flex 2
            display flex
            flex-direction column
            margin-right 2vw

            .task-header
                display flex
                justify-content space-between
                padding-bottom .7em

                .task-controls
                    display flex
                    flex-direction column
                    justify-content space-around

                    .round-name
                        color main-text
                        font-size 150%
                        font-weight bold

                .timer
                    .time-text
                        color main-text
                        font-size 2em

                    .circle-container
                        .circle-elapsed
                            stroke alpha(background-blue-0, .5)

                        .circle-remaining
                            stroke main-text

            .puzzle
                flex-direction column
                flex 2

                .separator
                    width 100%
                    height 1vh

            .placeholder.countdown
                flex 2
                background alpha(theme-background, .75)
                border-radius 3px
                font-size 250px

        .scores
            flex 1
            position relative
            overflow hidden

            .round-score, .aggregate-score
                transition transform 300ms linear

            .round-score
                width 100%
                height 100%
                transform translateX(0)

            .aggregate-score
                width 100%
                height 100%
                position absolute
                top 0
                left 0
                transform translateX(100%)


            &.-aggregate
                .round-score
                    transform translateX(-100% - scroll-width)
                .aggregate-score
                    transform translateX(0)

.list-container
    padding-right scroll-width

::-webkit-scrollbar-track
    background-color transparent

::-webkit-scrollbar
    width scroll-width
    background-color transparent

::-webkit-scrollbar-thumb
    background-color scroll-color
