@import '~common/styles/color-palette.styl'
@import '~common/styles/common.styl'

.welcome
    display flex
    justify-content center
    align-items center

    .container
        width 40vh
        height 40vh
        position relative

        .square
            position absolute
            background sublime-yellow
            width 16%
            height 16%

        .square.top
            top 15%
            animation lodash-top 5s infinite
        .square.bottom
            bottom 15%
            animation lodash-bottom 5s infinite
        .square.left
            left 15%
        .square.right
            right 15%

@keyframes lodash-bottom
    0%
        transform scale(1.2)
    5%
        transform scale(1.4)
        width 16%
    8%
        transform scale(1.2)
        width 16%
    20%
        transform scale(1.2)
        width 50%
        background lodash-blue
    30%
        transform scale(.6)
        width 50%
        background lodash-blue
    32%
        transform scale(1.1)
    34%
        transform scale(1)
    70%
        transform scale(1)
        width 50%
        background lodash-blue
    75%
        transform scale(1)
        width 16%
    100%
        transform scale(1)

@keyframes lodash-top
    0%
        transform scale(1.2)
    5%
        transform scale(1.4)
    8%
        transform scale(1.2)
    20%
        transform scale(1.2)
    30%
        transform scale(0)
    70%
        transform scale(0)
    72%
        transform scale(1.4)
    75%
        transform scale(1)
    100%
        transform scale(1)
