@import '~common/fonts/families.styl'
@import '~common/styles/color-palette.styl'

.round-score
    display flex
    flex-direction column

    .header
        .stats
            display flex

            .-joined, .-solved
                flex 1
                display flex

                .value, .meta
                    flex 1

                .value
                    font-size 3em
                    text-align right

                .meta
                    display flex
                    flex-direction column
                    justify-content center
                    padding-left .5em

                    .icon
                        padding-bottom .2em

                        &:before
                            font-family AwesomeIcon
                            content '\f0c0'

            .-joined
                color holy-white

            .-solved
                color winning-green

            .-partial
                color partial-cheater

            .separator
                width .15vw
                background super-light-blue

        .list-header
            display flex
            border-bottom 3px solid super-light-blue
            padding .4em 0
            color secondary-action-color

            .-name
                flex 3 1 70%
            .-time, .-length
                flex 1 1 15%
                text-align right

    .list-container
        flex 1
        overflow-y auto

        .score-entry
            display flex
            line-height 160%
            color holy-white
            border-bottom 1px solid super-light-blue

            &:hover
                background secondary-action-background-color
                cursor pointer

            &.-solved
                color winning-green

            &.-partial
                color partial-cheater

            .-name
                flex 3 1 70%
            .-time, .-length
                flex 1 1 15%
                text-align right
